name: Build

on:
  push:
  pull_request:

permissions:
  checks: write
  contents: write
  id-token: write
  pages: write

jobs:
  Build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        uses: ./.github/actions/build

      - name: Build Documentation
        uses: MrKWatkins/writerside-build@main
        with:
          instance: MrKWatkins.Assertions